@use "sass:color";

$gray: #bbb;
$grid: rgba(255, 255, 255, 0.3);
$background: rgb(29, 44, 95);
$skillBackground: rgb(235, 205, 37);

svg {
  font-size: 14px;
  border: 1px solid #aaa;
  background-color: $background;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.label {
  font-size: 75%;
  text-anchor: middle;
  fill: $grid;
}

.name {
  font-weight: bold;
  fill: color.scale($skillBackground, $blackness: 50%);

  tspan {
    alignment-baseline: middle;
  }
}

.skillBoxInner {
  stroke: black;
  fill: white;
}

path,
circle,
line {
  fill: none;
  stroke-width: 1px;
  stroke: black;
  stroke-linecap: round;
}

.link {
  stroke: $gray;
}

circle.level {
  stroke: $grid;
  stroke-width: 0.125px;

  &.level-quarter {
    stroke-width: 0.25px;
  }

  &.level-year {
    stroke-width: 0.75px;
  }
}

.skillBoxStart,
.skillBoxEnd {
  fill: $skillBackground;
  stroke: none;
}

.skillBoxEnd {
  transform: rotate(180deg);
  transform-origin: center;
  transform-box: fill-box;
}

.skillBoxMain {
  fill: $skillBackground;
}

#dropShadow {
  feFlood {
    flood-color: color.scale($background, $lightness: 15%, $saturation: 70%);
    flood-opacity: 0.8;
  }
}

.skillBoxBackground {
  stroke: color.scale($skillBackground, $blackness: 0%);
  stroke-width: 0px;
  fill: none;
}

button {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background: #ddd;
  border: 1px solid #aaa;
  text-align: center;
  font-size: 16px;

  &:hover {
    background: #aaa;
  }
}

.buttons {
  margin: 0 0 10px;
}
