@use "sass:color";

$gray: #bbb;
$background: rgb(29, 44, 95);
$skillBackground: rgb(235, 205, 37);

svg {
  font-size: 14px;
  border: 1px solid #aaa;
  background-color: $background;
}

.label {
  font-size: 75%;
  text-anchor: middle;
}

path,
circle,
line {
  fill: none;
  stroke-width: 1px;
  stroke: black;
  stroke-linecap: round;
}

.link,
.estimate {
  stroke: $gray;
}

.mainPath {
  stroke-width: 2px;
}

circle.level {
  stroke: rgb(255, 255, 255);
  opacity: 0.5;
  stroke-width: 0.125px;

  &.level-quarter {
    stroke-width: 0.25px;
  }

  &.level-year {
    stroke-width: 0.5px;
  }
}

.skillBoxStart,
.skillBoxEnd {
  fill: $skillBackground;

  stroke: none;
}

.skillBoxEnd {
  transform: rotate(180deg);
  transform-origin: center;
  transform-box: fill-box;
}

.skillBoxMain {
  fill: $skillBackground;
}

#dropShadow {
  feFlood {
    flood-color: color.scale($background, $lightness: 15%, $saturation: 70%);
  }
}

.skillBoxBackground {
  stroke: black;
  stroke-width: 2px;
  fill: none;
}

rect.skillOutline {
  rx: 4;
}

button {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background: #ddd;
  border: 1px solid #aaa;
  text-align: center;
  font-size: 16px;

  &:hover {
    background: #aaa;
  }
}

.buttons {
  margin: 0 0 10px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.personName.reversed {
  text-anchor: end;
}
